<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>invoice</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif !important;
    "
  >
    <div
      style="
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <div
        style="
          width: 500px;
          border-radius: 8px;
          border: 1px solid #ddd;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        "
      >
        <div
          style="
            height: 10%;
            padding: 20px;
            background-color: #ddd;
            display: flex;
            align-items: center;
          "
        >
          <p style="margin: 0; font-size: 20px; color: #202020">Invoice</p>
        </div>
        <div style="height: 80%; padding: 20px">
          <p>{{invoice_number}}</p>
          <p>{{invoice_date}}</p>
          <p>{{invoice_amount}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
